@use '@angular/material' as mat;
@use '../../../../../../styles/shared/constants';
.searchbar-container {
  // 让整个搜索组件居中（占满一行，内容居中）
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 16px;
  box-sizing: border-box;
  background-image: linear-gradient(344deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(208deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(189deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(230deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(69deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(90deg, rgb(77,249,87),rgb(165,177,54));
  background-blend-mode: overlay,overlay,overlay,overlay,overlay,normal;
}

.searchbar-form {
  // 控制最大宽度
  width: min(90%, constants.$max-searchbar-width);
}
 
  .searchbar-title {
    margin-top: 16px;
    font-size: 46px;
    font-weight: 700;
    text-shadow: 0 0 44px #0006;
    color: var(--mat-sys-background);
  }
  // suffix 区域：按钮对齐 + 间距更舒服
  .suffix-box {
    display: inline-flex;
    align-items: center;
    gap: 4px;

    button[mat-icon-button] {
      width: 40px;
      height: 40px;

      mat-icon {
        font-size: 22px;
        width: 22px;
        height: 22px;
      }
    }
  }

.quick-area {
  width: 95%;
  display: flex;
  column-gap: 8px;
  align-items: center;
 span{
     margin-top: -18px;
   }
}


  .divider-before {
  padding-left: 8px;
 
}
.end-icon{
    margin-left:12px!important;
}
.divider-before::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 24px; /* 分割线高度 */
  width: 1px;
  background: color-mix(in srgb, var(--mat-button-filled-label-text-color, var(--mat-sys-on-primary)) 40%, transparent);
}

 

.category-menu-item {
  /* 让 icon + 文本两列布局 */
  display: flex;
  align-items: flex-start; /* 两行时从上对齐更好看 */
}
 
/* 文本区域：两行 */
.category-menu-item .item-text {
  display: flex;
  flex-direction: column;
}



.category-menu-item .item-desc {
  font-size: 12px;
  color:var(--text-subtle);
  margin-bottom: 4px;
  display: -webkit-box; /* 必须 */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* 两行 */

  overflow: hidden; /* 必须：用于裁切，省略号才能出现 */
  /* 可选：更稳一点 */
  word-break: break-word;
}
