app-shell nav {
  color: var(--mat-sys-primary);
  background-image: linear-gradient(112.5deg, var(--app-primary-500) 0%, var(--app-primary-500) 3%, var(--app-primary-400) 3%, var(--app-primary-400) 34%, var(--app-primary-300) 34%, var(--app-primary-300) 46%, var(--app-primary-200) 46%, var(--app-primary-200) 51%, var(--app-tertiary-300) 51%, var(--app-tertiary-300) 52%, var(--app-tertiary-400) 52%, var(--app-tertiary-400) 76%, var(--app-tertiary-500) 76%, var(--app-tertiary-500) 84%, var(--app-tertiary-600) 84%, var(--app-tertiary-600) 100% ), linear-gradient(157.5deg, var(--app-primary-500) 0%, var(--app-primary-500) 3%, var(--app-primary-400) 3%, var(--app-primary-400) 34%, var(--app-primary-300) 34%, var(--app-primary-300) 46%, var(--app-primary-200) 46%, var(--app-primary-200) 51%, var(--app-tertiary-300) 51%, var(--app-tertiary-300) 52%, var(--app-tertiary-400) 52%, var(--app-tertiary-400) 76%, var(--app-tertiary-500) 76%, var(--app-tertiary-500) 84%, var(--app-tertiary-600) 84%, var(--app-tertiary-600) 100% ), linear-gradient(45deg, var(--app-primary-500) 0%, var(--app-primary-500) 3%, var(--app-primary-400) 3%, var(--app-primary-400) 34%, var(--app-primary-300) 34%, var(--app-primary-300) 46%, var(--app-primary-200) 46%, var(--app-primary-200) 51%, var(--app-tertiary-300) 51%, var(--app-tertiary-300) 52%, var(--app-tertiary-400) 52%, var(--app-tertiary-400) 76%, var(--app-tertiary-500) 76%, var(--app-tertiary-500) 84%, var(--app-tertiary-600) 84%, var(--app-tertiary-600) 100% ), linear-gradient(90deg, var(--app-tertiary-700), var(--app-primary-300));
  background-blend-mode: overlay,overlay,overlay,normal;
}
//滚动条样式
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26) !important;
}
//滚动条样式
::-webkit-scrollbar {
  //横向滚动条高度
  height: 5px;
  //纵向滚动条宽度
  width: 5px;
}
