@use '@angular/material' as mat;

.docs-navbar-header, .secondary-navbar-header {
  color: var(--mat-sys-primary);
  background-image: linear-gradient(316deg, rgba(234, 234, 234, 0.02) 0%, rgba(234, 234, 234, 0.02) 16.667%,rgba(128, 128, 128, 0.02) 16.667%, rgba(128, 128, 128, 0.02) 33.334%,rgba(161, 161, 161, 0.02) 33.334%, rgba(161, 161, 161, 0.02) 50.001000000000005%,rgba(154, 154, 154, 0.02) 50.001%, rgba(154, 154, 154, 0.02) 66.668%,rgba(77, 77, 77, 0.02) 66.668%, rgba(77, 77, 77, 0.02) 83.33500000000001%,rgba(10, 10, 10, 0.02) 83.335%, rgba(10, 10, 10, 0.02) 100.002%),linear-gradient(75deg, rgba(39, 39, 39, 0.03) 0%, rgba(39, 39, 39, 0.03) 20%,rgba(232, 232, 232, 0.03) 20%, rgba(232, 232, 232, 0.03) 40%,rgba(33, 33, 33, 0.03) 40%, rgba(33, 33, 33, 0.03) 60%,rgba(84, 84, 84, 0.03) 60%, rgba(84, 84, 84, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(103deg, rgba(174, 174, 174, 0.03) 0%, rgba(174, 174, 174, 0.03) 12.5%,rgba(190, 190, 190, 0.03) 12.5%, rgba(190, 190, 190, 0.03) 25%,rgba(191, 191, 191, 0.03) 25%, rgba(191, 191, 191, 0.03) 37.5%,rgba(23, 23, 23, 0.03) 37.5%, rgba(23, 23, 23, 0.03) 50%,rgba(227, 227, 227, 0.03) 50%, rgba(227, 227, 227, 0.03) 62.5%,rgba(71, 71, 71, 0.03) 62.5%, rgba(71, 71, 71, 0.03) 75%,rgba(162, 162, 162, 0.03) 75%, rgba(162, 162, 162, 0.03) 87.5%,rgba(85, 85, 85, 0.03) 87.5%, rgba(85, 85, 85, 0.03) 100%),linear-gradient(355deg, rgba(38, 38, 38, 0.02) 0%, rgba(38, 38, 38, 0.02) 25%,rgba(106, 106, 106, 0.02) 25%, rgba(106, 106, 106, 0.02) 50%,rgba(28, 28, 28, 0.02) 50%, rgba(28, 28, 28, 0.02) 75%,rgba(66, 66, 66, 0.02) 75%, rgba(66, 66, 66, 0.02) 100%),linear-gradient(137deg, rgba(38, 38, 38, 0.03) 0%, rgba(38, 38, 38, 0.03) 25%,rgba(211, 211, 211, 0.03) 25%, rgba(211, 211, 211, 0.03) 50%,rgba(4, 4, 4, 0.03) 50%, rgba(4, 4, 4, 0.03) 75%,rgba(24, 24, 24, 0.03) 75%, rgba(24, 24, 24, 0.03) 100%),linear-gradient(51deg, rgba(253, 253, 253, 0.03) 0%, rgba(253, 253, 253, 0.03) 14.286%,rgba(103, 103, 103, 0.03) 14.286%, rgba(103, 103, 103, 0.03) 28.572%,rgba(46, 46, 46, 0.03) 28.572%, rgba(46, 46, 46, 0.03) 42.858%,rgba(68, 68, 68, 0.03) 42.858%, rgba(68, 68, 68, 0.03) 57.144%,rgba(116, 116, 116, 0.03) 57.144%, rgba(116, 116, 116, 0.03) 71.42999999999999%,rgba(248, 248, 248, 0.03) 71.43%, rgba(248, 248, 248, 0.03) 85.71600000000001%,rgba(174, 174, 174, 0.03) 85.716%, rgba(174, 174, 174, 0.03) 100.002%),linear-gradient(283deg, rgba(20, 20, 20, 0.01) 0%, rgba(20, 20, 20, 0.01) 14.286%,rgba(23, 23, 23, 0.01) 14.286%, rgba(23, 23, 23, 0.01) 28.572%,rgba(19, 19, 19, 0.01) 28.572%, rgba(19, 19, 19, 0.01) 42.858%,rgba(134, 134, 134, 0.01) 42.858%, rgba(134, 134, 134, 0.01) 57.144%,rgba(4, 4, 4, 0.01) 57.144%, rgba(4, 4, 4, 0.01) 71.42999999999999%,rgba(254, 254, 254, 0.01) 71.43%, rgba(254, 254, 254, 0.01) 85.71600000000001%,rgba(87, 87, 87, 0.01) 85.716%, rgba(87, 87, 87, 0.01) 100.002%),linear-gradient(90deg, var(--app-primary-container-900),var(--app-tertiary-container-900));
}
//滚动条样式
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .26) !important;
}
//滚动条样式
::-webkit-scrollbar {
  //横向滚动条高度
  height: 5px;
  //纵向滚动条宽度
  width: 5px;
}

.ng-progress-bar {
  .ng-bar {
    background: var(--red-to-pink-to-purple-horizontal-gradient) !important;
    height: 3px !important;
  }
}
//禁用stepper的点击事件
.register-stepper .mat-step-header {
  pointer-events: none;
}

/* 作用域：只让加了 .colorful-checkbox 的复选框使用类型色 */
.colorful-checkbox {
  @include mat.checkbox-overrides(( selected-pressed-state-layer-color: var(--type-color),unselected-hover-state-layer-color: var(--type-color),unselected-pressed-state-layer-color: var(--type-color),unselected-focus-state-layer-color: var(--type-color),selected-hover-state-layer-color: var(--type-color),selected-hover-icon-color: var(--type-color),selected-focus-state-layer-color: var(--type-color),selected-focus-icon-color: var(--type-color),unselected-focus-icon-color: var(--type-color),unselected-hover-icon-color: var(--type-color),unselected-icon-color: var(--type-color),selected-icon-color: var(--type-color),label-text-color: var(--type-color), ));
}

.selected-chip {
  @include mat.chips-overrides(( focus-state-layer-color: var(--chip-color),focus-outline-color: var(--chip-color),label-text-color: var(--chip-color), outline-color: var(--chip-color), with-trailing-icon-trailing-icon-color: var(--chip-color), trailing-action-state-layer-color: var(--chip-color),hover-state-layer-color:var(--chip-color) ));
}

.filter-tags .mat-mdc-form-field-infix {
  padding-top: 8px !important;
  padding-bottom: 4px !important;
}
.select-search-option {
}

.mat-select-search-clear {
  top: 50% !important;
  transform: translateY(-50%) !important;
}
mat-option {
  mat-icon {
    font-size: 20px !important;
    width: 20px !important;
    height: 20px !important;
  }
}
 
