@use '../../../../../styles/shared/constants';

:host {
  display: grid;
  justify-items: center; /* 水平居中 */
  align-items: start; /* 顶部对齐 */
  min-height: 100dvh;
}

.app-logo {
  width: 44px;
  position: absolute;
  inset: 8px auto auto 16px;
}

.register-main-card {
  min-height: 80dvh;
  width: 90dvw;
  margin-top: max(60px, 10dvh); // 最小 70px，通常按 10vh
  overflow: hidden;
}
.register-main-card .mat-mdc-card-content {
  padding: 0; /* ✅ 去掉白边的根源 */
  flex: 1 1 auto; /* ✅ 关键：撑满高度 */
  min-height: 0; /* 防止内部按内容撑开 */
}

.register-grid {
  display: grid;
  grid-template-columns: 2fr 1fr; /* 左右比例 */
}
.register-illustration {
  position: relative;
  background-image: repeating-linear-gradient( 45deg, rgba(0,0,0,0.18) 0px, rgba(0,0,0,0.18) 16px, transparent 16px, transparent 32px, rgba(0,0,0,0.05) 32px, rgba(0,0,0,0.05) 48px, rgba(0,0,0,0.08) 48px, rgba(0,0,0,0.08) 64px, rgba(0,0,0,0.03) 64px, rgba(0,0,0,0.03) 80px, transparent 80px, transparent 96px, rgba(0,0,0,0.13) 96px, rgba(0,0,0,0.13) 112px, rgba(0,0,0,0.11) 112px, rgba(0,0,0,0.11) 128px, rgba(0,0,0,0.13) 128px, rgba(0,0,0,0.13) 144px, rgba(0,0,0,0.17) 144px, rgba(0,0,0,0.17) 160px, rgba(0,0,0,0.05) 160px, rgba(0,0,0,0.05) 176px, rgba(0,0,0,0.18) 176px, rgba(0,0,0,0.18) 192px, rgba(0,0,0,0.14) 192px, rgba(0,0,0,0.14) 208px ), repeating-linear-gradient( 135deg, transparent 0px, transparent 3px, rgba(0,0,0,0.06) 3px, rgba(0,0,0,0.06) 6px, rgba(0,0,0,0.02) 6px, rgba(0,0,0,0.02) 9px, rgba(0,0,0,0.05) 9px, rgba(0,0,0,0.05) 12px, rgba(0,0,0,0.05) 12px, rgba(0,0,0,0.05) 15px, rgba(0,0,0,0.06) 15px, rgba(0,0,0,0.06) 18px, rgba(0,0,0,0.06) 18px, rgba(0,0,0,0.06) 21px, rgba(0,0,0,0.02) 21px, rgba(0,0,0,0.02) 24px, transparent 24px, transparent 27px, rgba(0,0,0,0.02) 27px, rgba(0,0,0,0.02) 30px, rgba(0,0,0,0.02) 30px, rgba(0,0,0,0.02) 33px, rgba(0,0,0,0.01) 33px, rgba(0,0,0,0.01) 36px, rgba(0,0,0,0.06) 36px, rgba(0,0,0,0.06) 39px, rgba(0,0,0,0.04) 39px, rgba(0,0,0,0.04) 42px, transparent 42px, transparent 45px, rgba(0,0,0,0.02) 45px, rgba(0,0,0,0.02) 48px, rgba(0,0,0,0.03) 48px, rgba(0,0,0,0.03) 51px, rgba(0,0,0,0.02) 51px, rgba(0,0,0,0.02) 54px ), repeating-linear-gradient( 90deg, rgba(0,0,0,0.11) 0px, rgba(0,0,0,0.11) 14px, transparent 14px, transparent 28px, rgba(0,0,0,0.18) 28px, rgba(0,0,0,0.18) 42px, rgba(0,0,0,0.15) 42px, rgba(0,0,0,0.15) 56px, rgba(0,0,0,0.04) 56px, rgba(0,0,0,0.04) 70px, rgba(0,0,0,0.14) 70px, rgba(0,0,0,0.14) 84px, rgba(0,0,0,0.01) 84px, rgba(0,0,0,0.01) 98px, rgba(0,0,0,0.02) 98px, rgba(0,0,0,0.02) 112px, rgba(0,0,0,0.04) 112px, rgba(0,0,0,0.04) 126px, rgba(0,0,0,0.13) 126px, rgba(0,0,0,0.13) 140px, rgba(0,0,0,0.09) 140px, rgba(0,0,0,0.09) 154px, transparent 154px, transparent 168px, rgba(0,0,0,0.07) 168px, rgba(0,0,0,0.07) 182px, rgba(0,0,0,0.08) 182px, rgba(0,0,0,0.08) 196px, rgba(0,0,0,0.16) 196px, rgba(0,0,0,0.16) 210px ), repeating-linear-gradient( 0deg, rgba(0,0,0,0.10) 0px, rgba(0,0,0,0.10) 14px, rgba(0,0,0,0.16) 14px, rgba(0,0,0,0.16) 28px, rgba(0,0,0,0.04) 28px, rgba(0,0,0,0.04) 42px, rgba(0,0,0,0.08) 42px, rgba(0,0,0,0.08) 56px, transparent 56px, transparent 70px, rgba(0,0,0,0.13) 70px, rgba(0,0,0,0.13) 84px, rgba(0,0,0,0.06) 84px, rgba(0,0,0,0.06) 98px, transparent 98px, transparent 112px, rgba(0,0,0,0.09) 112px, rgba(0,0,0,0.09) 126px, transparent 126px, transparent 140px, rgba(0,0,0,0.02) 140px, rgba(0,0,0,0.02) 154px, rgba(0,0,0,0.02) 154px, rgba(0,0,0,0.02) 168px, rgba(0,0,0,0.04) 168px, rgba(0,0,0,0.04) 182px, rgba(0,0,0,0.10) 182px, rgba(0,0,0,0.10) 196px, rgba(0,0,0,0.12) 196px, rgba(0,0,0,0.12) 210px ), linear-gradient(135deg, var(--mat-sys-primary), var(--mat-sys-primary-container));
}
.register-content {
  padding: 16px;
  min-width: 450px;
}
.register-title {
  margin: 6px 0px 6px 0px;
}
.register-stepper {
  background-color: var(--mat-card-elevated-container-color, var(--mat-sys-surface-container-low)); 
}
.register-form {
  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
  padding: var(--form-padding) 0px;
}

.sms-row {
  display: grid;
  grid-template-columns: 1fr auto; // 输入框 + 按钮
  gap: 8px;
  align-items: start; // 顶部对齐
}

.code-btn {
  transform: translateY(6px);
}
@media (max-width: constants.$extra-small-breakpoint-width) {
  .register-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: auto;
  }

  .register-illustration {
    height: 180px;
  }
  .register-content {
    padding: 8px;
    min-width: 0px;
  }
  .register-stepper .mat-step-header {
    display: none; /* 默认全部隐藏 */
  }

}
