.loading-center {
 
  display: flex;
  justify-content: center;
 
  min-height: 50px; // 或者 40vh，根据你的内容调整
}

.empty {
  display: flex;
  align-items: center; /* 垂直居中 */
  gap: 8px; /* 图标和文字间距 */
}

/* 用你自己的类 .actions 来控制布局，避免覆盖库的默认选择器 */
.actions {
  justify-content: space-between;
}

/* spacer 推动右侧按钮到最右边 */
.actions .spacer {
  flex: 1 1 auto;
}
.tag-type {
  border: 1px solid var(--mat-sys-primary-container);
}

.tag-select-dialog-content {
  display: flex;
  flex-direction: column;
}

.tag-type-header {
  display: flex;
  align-items: center; // 图标与文本竖直居中对齐
  gap: 8px; // 元素间间距（也可用 margin-left）
  background: var(--mat-sys-primary-container);
  color: var(--mat-sys-primary);
}


.tag-type-header mat-icon {
  font-size: 20px; // 依据你设计规范调整
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.tag-type-header h4 {
  margin: 0; // 去掉 h4 默认的上下外边距
  font-weight: 600; // 可选，视觉强化
}
.tag-type-tags{
    min-height:20px;
}
