@use '../../../../../../styles/shared/constants';
.header-row {
  display: flex;
  align-items: center; /* 垂直居中 */
  gap: 8px; /* 两者之间的间距 */
  margin-bottom: 8px;
}



.total-count {
  font-size: 14px;
  color: var(--mat-sys-secondary);
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // 或 auto-fit
  gap: var(--card-gap);
  justify-items: center; /* ✅ 让每个格子里的内容居中 */
}

.app-card {
  max-width: 480px; /* ✅ 卡片不会撑满 1fr 列，居中显示 */
  width: 100%;
}

.app-card:hover {
  box-shadow: var(--mat-sys-level2);
}

/* 4:3 容器：padding-top 从 100% 改为 75% */
.image-box {
  position: relative;
  padding-top: 75%; /* ✅ 4:3 占位，高/宽 = 3/4 */
}

/* 保持你之前的“强制填满”逻辑（图片可能会变形） */
.image-box.stretch img[mat-card-image] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /* ✅ 关键：填满 */
  object-fit: cover;
}

.app-card-header {
  border-radius: var(--mat-sys-corner-medium) var(--mat-sys-corner-medium) 0 0;
  background-image: linear-gradient(344deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(208deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(189deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(230deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(69deg, rgb(197, 160, 165) 0%, rgb(197, 160, 165) 20%,rgb(206, 134, 161) 20%, rgb(206, 134, 161) 38%,rgb(215, 108, 156) 38%, rgb(215, 108, 156) 68%,rgb(225, 82, 152) 68%, rgb(225, 82, 152) 78%,rgb(234, 55, 148) 78%, rgb(234, 55, 148) 80%,rgb(243, 29, 143) 80%, rgb(243, 29, 143) 96%,rgb(252, 3, 139) 96%, rgb(252, 3, 139) 100%),linear-gradient(90deg, rgb(77, 249, 52),rgb(153, 163, 31));
  background-blend-mode: overlay,overlay,overlay,overlay,overlay,normal;
}

.app-card-content {
  border-top: 1px solid var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
  height: 100%;
  padding-bottom: 16px;
}

.app-card-content p {
  /* 多行截断核心 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 最多 5 行 */
  overflow: hidden;
  /* 省略号（部分浏览器启用，配合多行截断） */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.app-card-content:hover {
  background: var( --mat-sys-surface-container-high);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  padding: 16px;
  background: transparent;

  .divider-text {
    position: relative;
    color: var(--mat-sys-primary);
    letter-spacing: 2px;
    padding: 0 12px;
    /* 分隔线 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
    }

    &::before {
      left: -100%;
      background: linear-gradient(90deg, var(--mat-sys-primary-container) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-tertiary) 100%);
    }

    &::after {
      right: -100%;
      background: linear-gradient(90deg, var(--mat-sys-tertiary) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-primary-container) 100%);
    }
  }
}

.filter-bar {
  display: flex;
  flex-flow: wrap;
  row-gap: 4px;
  column-gap: 16px;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 16px;
  margin: 0 -6px 16px -6px;
  background-color: var(--mat-sys-surface);
}

.filter-item {
  flex: 1 1 auto;
}
.filter-no-grow-item {
  flex: 0 0 auto;
}

.filter-tags {
  flex: 4 1 auto;
  min-width: 240px;
}


.filter-bar-btns {
  flex: 0 0 auto;
  display: flex;
  gap: 8px;
}

.filter-bar-btn {
  margin-top: 6px;
}

.filter-slide-toggle {
  margin-top: 10px;
}

/* 后缀容器固定宽度，避免因 close 出现/消失导致输入框宽度变化 */
.suffix-box {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  /* 宽度按你的按钮尺寸调整：两枚图标按钮合计宽度 */
  min-width: 88px; // 约两枚 40px 按钮 + 间距

  justify-content: flex-end;
}
.tag-select-row{
    display:flex;
    column-gap:8px;
}


@media (max-width: constants.$extra-small-breakpoint-width) {
  .filter-slide-toggle {
    display: none;
  }

  .filter-bar-btns {
    display: none;
  }
}
