@use '../../../../../../styles/shared/constants';
.community-drawer-container{
    height:100vh;
    background:red;
}
/* 列表：作为唯一滚动容器 */
.community-nav-list {
  flex: 1 1 auto;
  overflow: auto; /* 只在这里滚动 */
  padding: 8px 0;
  box-sizing: border-box;
}

/* 只影响侧边栏这个列表 */
.community-nav-list a.mat-mdc-list-item.is-active {
  background: rgba(0, 0, 0, 0.06); /* 选中背景，不影响 hover ripple */
}

.community-nav-list a.mat-mdc-list-item.is-active:hover {
  background: rgba(0, 0, 0, 0.08);
}

 

@media (max-width: constants.$extra-small-breakpoint-width) {
 
}
