.card-list {
  padding:8px 16px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // 或 auto-fit
  gap: var(--card-gap);
  justify-items: center; /* ✅ 让每个格子里的内容居中 */
}

.app-card {
  max-width: 480px; /* ✅ 卡片不会撑满 1fr 列，居中显示 */
  width: 100%;

  .app-card-subtitle {
    font-weight: 400;
    color: var(--text-subtle);
  }
}
.title-row {
  display: flex;
  align-items:center; // 垂直居中对齐图标和文字
  gap: 8px; // 图标和文字间距（也可用 margin-right）
}

.title-icon {
  flex: 0 0 auto;
}
.title-text {
  line-height: 1;
}


.app-card-content {
  height: 100%;
  padding-bottom: 16px;
}

.app-card-content p {
  /* 多行截断核心 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 最多 5 行 */
  overflow: hidden;
  /* 省略号（部分浏览器启用，配合多行截断） */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.app-card:hover {
  background: var( --mat-sys-surface-container-high);
}
