@use '../../../../../../styles/shared/constants';
@use '@angular/material' as mat;

 
  /* 只针对这个标签 select 的 trigger（输入框显示区） */
  .tag-select {
    @include mat.select-overrides( );
  }
 

.filter-form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px 6%;
}
.filter-row {
  display: flex;
  flex-flow: wrap;
  row-gap: 4px;
  column-gap: 16px;
}
.filter-item {
  flex: 1 1 auto;
}
.filter-item-4 {
  flex: 4 1 auto;
}
.filter-item-3 {
  flex: 3 1 auto;
}
.filter-item-2 {
  flex: 2 1 auto;
}
.filter-bar-btns {
  flex: 0 0 auto;
}
.filter-no-grow-item {
  flex: 0 0 auto;
}
.filter-bar-btn {
  margin-top: 6px;
}

.filter-row-extra-margin {
 
  margin-bottom: 12px;
}

.filter-item-group {
  flex: 1 1 auto;
  display: flex;
  gap: 8px;

  .filter-item {
      width:120px;
  }
}
.suffix-box {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  /* 宽度按你的按钮尺寸调整：两枚图标按钮合计宽度 */
  min-width: 88px; // 约两枚 40px 按钮 + 间距

  justify-content: flex-end;
}

 
.opt-count {
  color: var(--mat-sys-on-surface-variant);
}
.chip-set-container {
  padding: 4px 16px;
  background-color: var(--mat-sys-surface-container, var(--mat-select-panel-background-color, white));

  .chip-set {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; /* ✅ 可换行 */
  }
}

.custom-no-item-note {
  padding-top: 8px;
  padding-left:16px;
}

.filter-slide-toggle {
  margin-top: 10px;
}
.tag-select-row{
    display:flex;
    gap:8px;
}

.limit-reached {
  margin-left: 0px;
}
.user-option {
  display: flex;
  align-items: center; // ✅ 垂直居中
  gap: 10px; // ✅ 头像和文字间距
  line-height: 1.2; // 可选：避免文字行高把整体撑歪
}

@media (max-width: constants.$small-breakpoint-width) {
  .filter-form {
    padding: 8px 0px;
  }
}
@media (max-width: constants.$extra-small-breakpoint-width) {
  .filter-row {
    flex-direction:column;
    gap:4px;
  }
  .tag-select-row {
    flex-direction: column;
    gap: 4px;
  }
  .filter-slide-toggle {
    margin-top: -16px;
    margin-bottom: 12px;
  }
  .filter-bar-btns {
    flex: 1 1 auto;
  }

  .filter-bar-btn {
    margin-top: 0px;
    width:100%;
  }
}
