.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--card-gap);
}
 
.fish-card {
  max-width: 480px; 
}

.image-box {
  position: relative;
  padding-top: 100%; /* 16:9 的占位高度 = 9/16 = 56.25% */
}

/* ⚠️ 强制拉伸，会变形 */
.image-box.stretch img[mat-card-image] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /* 关键：强制填满容器高度 */
  object-fit: fill; /* 或去掉这一句也会因为 width/height 导致变形 */
}
.app-card-header {
  border-radius: var(--mat-sys-corner-medium) var(--mat-sys-corner-medium) 0 0;
  background-image: radial-gradient(circle at center left, var(--app-tertiary-300),var(--app-primary-300));
}
