@let result = (result$ | async);
@let items = result?.items ?? [];  <!-- 统一折叠为数组 -->
@if (result) {
  @if (items.length > 0) {
<div class="card-list">
  @for (item of items; track item.id) {
  <mat-card class="fish-card" appearance="outlined">
    <mat-card-header class="dd">
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.scientificName }}</mat-card-subtitle>
    </mat-card-header>
    <div class="image-box stretch">
      <img mat-card-image src="{{ resolveImageUrl(item.imageUrl) }}" (error)="onImgError($event)">
     </div>
      <mat-card-content>
        <p>{{ item.description }}</p>
      </mat-card-content>

  </mat-card>
  }
</div>
  } @else {
 暂无数据  
  }
} @else {
 正在加载... 
}
