.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: var(--card-gap);
}
 
.app-card {
  max-width: 480px; 
}
.app-card:hover {
  box-shadow: var(--mat-sys-level2);
}
.image-box {
  position: relative;
  padding-top: 100%; 
}

/* ⚠️ 强制拉伸，会变形 */
.image-box.stretch img[mat-card-image] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /* 关键：强制填满容器高度 */
  object-fit: fill; /* 或去掉这一句也会因为 width/height 导致变形 */
}
.app-card-header {
  border-radius: var(--mat-sys-corner-medium) var(--mat-sys-corner-medium) 0 0;
  background-image: linear-gradient(242deg, rgba(19, 19, 19, 0.02) 0%, rgba(19, 19, 19, 0.02) 65%,rgba(130, 130, 130, 0.02) 65%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(49deg, rgba(193, 193, 193, 0.02) 0%, rgba(193, 193, 193, 0.02) 72%,rgba(136, 136, 136, 0.02) 72%, rgba(136, 136, 136, 0.02) 100%),linear-gradient(78deg, rgba(37, 37, 37, 0.02) 0%, rgba(37, 37, 37, 0.02) 90%,rgba(40, 40, 40, 0.02) 90%, rgba(40, 40, 40, 0.02) 100%),linear-gradient(310deg, rgba(233, 233, 233, 0.02) 0%, rgba(233, 233, 233, 0.02) 25%,rgba(47, 47, 47, 0.02) 25%, rgba(47, 47, 47, 0.02) 100%),linear-gradient(90deg, var(--app-primary-container-900),var(--app-tertiary-container-900) );
}
.app-card-content {
  border-top: 1px solid var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
  height:100%;
  padding-bottom:16px;
}

.app-card-content p {
  /* 多行截断核心 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 最多 5 行 */
  overflow: hidden;
  /* 省略号（部分浏览器启用，配合多行截断） */
  text-overflow: ellipsis;
 
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.app-card-content:hover {
  background: var( --mat-sys-surface-container-high);
}



.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background: transparent;

  .divider-text {
    position: relative;
    color: var(--mat-sys-primary);
    letter-spacing: 2px;
    padding: 0 12px;
    /* 分隔线 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
    }

    &::before {
      left: -100%;
      background: linear-gradient(90deg, var(--mat-sys-primary-container) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-tertiary) 100%);
    }

    &::after {
      right: -100%;
      background: linear-gradient(90deg, var(--mat-sys-tertiary) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-primary-container) 100%);
    }
  }
}
