@use '../../../../../../styles/shared/constants';

.header-row {
  display: flex;
  align-items: center; /* 垂直居中 */
  gap: 8px; /* 两者之间的间距 */
  margin-bottom:10px;
}

.module-title {
  margin: 0;
  font-weight:500;
}
.total-count {
  font-size:14px;
  color: var(--mat-sys-secondary);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr)); // 或 auto-fit
  gap: var(--card-gap);
  justify-items: center; /* ✅ 让每个格子里的内容居中 */
}

.app-card {
  max-width: 480px; /* ✅ 卡片不会撑满 1fr 列，居中显示 */
  width: 100%;
}

.app-card:hover {
  box-shadow: var(--mat-sys-level2);
}

/* 4:3 容器：padding-top 从 100% 改为 75% */
.image-box {
  position: relative;
  padding-top: 75%; /* ✅ 4:3 占位，高/宽 = 3/4 */
 
}

/* 保持你之前的“强制填满”逻辑（图片可能会变形） */
.image-box.stretch img[mat-card-image] {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%; /* ✅ 关键：填满 */
  object-fit:cover;
}

.app-card-header {
  border-radius: var(--mat-sys-corner-medium) var(--mat-sys-corner-medium) 0 0;
  background-image: linear-gradient(242deg, rgba(19, 19, 19, 0.02) 0%, rgba(19, 19, 19, 0.02) 65%,rgba(130, 130, 130, 0.02) 65%, rgba(130, 130, 130, 0.02) 100%),linear-gradient(49deg, rgba(193, 193, 193, 0.02) 0%, rgba(193, 193, 193, 0.02) 72%,rgba(136, 136, 136, 0.02) 72%, rgba(136, 136, 136, 0.02) 100%),linear-gradient(78deg, rgba(37, 37, 37, 0.02) 0%, rgba(37, 37, 37, 0.02) 90%,rgba(40, 40, 40, 0.02) 90%, rgba(40, 40, 40, 0.02) 100%),linear-gradient(310deg, rgba(233, 233, 233, 0.02) 0%, rgba(233, 233, 233, 0.02) 25%,rgba(47, 47, 47, 0.02) 25%, rgba(47, 47, 47, 0.02) 100%),linear-gradient(90deg, var(--app-primary-container-900),var(--app-tertiary-container-900) );
}
.app-card-content {
  border-top: 1px solid var(--mat-card-outlined-outline-color, var(--mat-sys-outline-variant));
  height:100%;
  padding-bottom:16px;
}

.app-card-content p {
  /* 多行截断核心 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5; /* 最多 5 行 */
  overflow: hidden;
  /* 省略号（部分浏览器启用，配合多行截断） */
  text-overflow: ellipsis;
 
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.app-card-content:hover {
  background: var( --mat-sys-surface-container-high);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:14px;
  padding: 16px;
  background: transparent;

  .divider-text {
    position: relative;
    color: var(--mat-sys-primary);
    letter-spacing: 2px;
    padding: 0 12px;
    /* 分隔线 */
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 100%;
      height: 1px;
    }

    &::before {
      left: -100%;
      background: linear-gradient(90deg, var(--mat-sys-primary-container) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-tertiary) 100%);
    }

    &::after {
      right: -100%;
      background: linear-gradient(90deg, var(--mat-sys-tertiary) 0%, var(--mat-sys-primary) 50%, var(--mat-sys-primary-container) 100%);
    }
  }
}
.filter-bar {
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  position: sticky;
  top: 0;
  z-index: 2;
  padding-top: 1rem;
  margin: 0 -6px 1rem -6px;
  background-color: var(--mat-sys-surface);
}
.filter-item {
  flex:1 1 auto;
}

.filter-tags {
  flex: 4 1 auto;
  min-width: 240px;
}


.filter-bar-btns {
  flex: 0 0 auto;
  display: flex;
  gap: .5rem;
}
.filter-bar-btn {
  margin-top: 6px;
}
.filter-slide-toggle {
  margin-top: 10px;
}

/* 后缀容器固定宽度，避免因 close 出现/消失导致输入框宽度变化 */
.suffix-box {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  /* 宽度按你的按钮尺寸调整：两枚图标按钮合计宽度 */
  min-width: 88px; // 约两枚 40px 按钮 + 间距
 
  justify-content: flex-end;
}

@media (max-width: constants.$extra-small-breakpoint-width) {
  .filter-slide-toggle{
      display:none;
  }
  .filter-bar-btns {
    display: none;
  }
}
 
