<mat-card>
  <mat-card-content>
    <form [formGroup]="form" class="filter-form" (ngSubmit)="onSearch()">
      <div class="keyword-grid-row">
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-label>关键字</mat-label>
          <input matInput
                 placeholder="关键字"
                 formControlName="keyword"
                 (keydown.enter)="onSearch()" />

          <span matSuffix class="suffix-box">
            @if (form.controls.keyword.value) {
            <button mat-icon-button
                    type="button"
                    aria-label="清空关键字"
                    (click)="clearKeyword()">
              <mat-icon>close</mat-icon>
            </button>
            }
          </span>
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="always">
          <mat-select formControlName="scope">
            @for (opt of constants.lureCommunitySearchScopeDropdown; track opt.id) {
            <mat-option [value]="opt.id">
              {{ opt.name }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <div class=" filter-bar-btns">
          <button class="filter-bar-btn" matButton="tonal" type="button" (click)="onSearch()">
            <mat-icon>search</mat-icon>
            搜索
          </button>
        </div>
      </div>
      @if(form.controls.scope.value=='topics')
      {
      <div class="filter-row filter-row-extra-margin">
        <div class="flex-item">
          <a class="expandable-header pointer" (click)="toggleAdvancedOptions()">
            <mat-icon>
              {{ advancedOptionCollapsed() ? 'arrow_drop_down' : 'arrow_right' }}
            </mat-icon>
            <span>更多选项</span>
          </a>
        </div>
      </div>
      @if(advancedOptionCollapsed()){
      <div class="search-grid-row">

        <mat-form-field appearance="outline">
          <mat-label>主题</mat-label>

          <mat-select formControlName="category" [compareWith]="compareById" (closed)="clearCategorySearch()">

            <mat-select-trigger>
              <span>{{ form.controls.category.value?.name }}</span>
            </mat-select-trigger>

            <!-- 搜索框：放在 disabled option 里 -->
            <mat-option disabled>
              <ngx-mat-select-search [formControl]="categorySearchCtrl"
                                     placeholderLabel="搜索..."
                                     noEntriesFoundLabel="">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="null">  <mat-icon>filter_alt_off</mat-icon>不限主题</mat-option>
            @if (filteredCategories$ | async; as categories) {
            @for (c of categories; track c.id) {

            <mat-option [value]="c">
              <mat-icon>{{ c.icon }}</mat-icon>

              <span>{{ c.name }}</span>
              <span class="opt-count"> × {{ c.lureCommunityTopicsCount }}</span>
            </mat-option>

            }
            @if(categories.length==0)
            {
            <div class="custom-no-item-note">没有匹配的选项</div>

            }

            }
          </mat-select>
        </mat-form-field>

        <div class="flex-row">
          <!-- 发布日期操作符：默认早于 -->
          <mat-form-field appearance="outline" class="publish-date-select filter-no-grow-item">
            <mat-select formControlName="publishedOp">
              <mat-option value="lte">早于</mat-option>
              <mat-option value="gte">晚于</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- 发布日期：单日期 -->
          <mat-form-field appearance="outline" class="flex-item">
            <mat-label>发布日期</mat-label>
            <input matInput
                   [matDatepicker]="pubPicker"
                   formControlName="publishedDate"
                   placeholder="选择日期" />

            <mat-datepicker-toggle matIconSuffix [for]="pubPicker"></mat-datepicker-toggle>
            <mat-datepicker #pubPicker></mat-datepicker>

          </mat-form-field>
        </div>
      </div>
      <div class="search-grid-row">

        <mat-form-field appearance="outline">
          <mat-label>标签</mat-label>

          <mat-select [panelClass]="'tag-select-panel'"
                      formControlName="tags"
                      multiple
                      [compareWith]="compareById"
                      (closed)="clearTagSearch()">

            <mat-select-trigger>
              @if (form.controls.tags.value; as tags) {
              @if (tags.length > 0) {
              <span aria-label="已选标签">
                @for (tag of tags; track tag.id; let last = $last) {
                <span [style.color]="tag.typeColor">
                  {{ tag.name }}
                </span>
                @if (!last) {
                <span>, </span>
                }
                }
              </span>
              }
              }

            </mat-select-trigger>

            <mat-option disabled class="select-search-option">
              <ngx-mat-select-search [formControl]="tagSearchCtrl"
                                     placeholderLabel="搜索..."
                                     noEntriesFoundLabel="">
              </ngx-mat-select-search>
              @if (form.controls.tags.value; as tags) {
              <div class="chip-flex-row chip-set-container">
                <div class="flex-item">
                  @if (tags.length >=MAX_SELECTED) {
                  <span class="limit-reached warn-color">
                    已达标签数量上限--{{MAX_SELECTED}}个
                  </span>
                  }
                  <mat-chip-set class="chip-set" aria-label="已选标签">
                    @for (tag of tags; track tag.id) {
                    <mat-chip class="selected-chip"
                              [style.--chip-color]="tag.typeColor"
                              [removable]="true"
                              (removed)="remove(tag.id)">

                      {{ tag.name }}

                      <button matChipRemove aria-label="移除 {{tag.name}}">
                        <mat-icon>cancel</mat-icon>
                      </button>
                    </mat-chip>
                    }
                  </mat-chip-set>
                </div>
                @if (form.controls.tags.value.length >= 2) {

                <mat-slide-toggle [checked]="form.controls.matchMode.value === 'OR'"
                                  (change)="onMatchModeChange($event)"
                                  class="filter-no-grow-item switch-slide-toggle filter-slide-toggle"
                                  [hideIcon]="true"
                                  aria-label="匹配模式切换">
                  {{ form.controls.matchMode.value === 'AND' ? '匹配全部标签' : '匹配任意标签' }}
                </mat-slide-toggle>

                }
              </div>

              }
              @if (filteredTagTypes$ | async; as typeList) {

              @if(typeList.length==0)
              {
              <div class="custom-no-item-note">没有匹配的选项</div>
              }
              }
            </mat-option>

            @if (filteredTagTypes$ | async; as typeList) {
            @for (type of typeList; track type.id) {
            <ng-container *transloco="let t">
              <mat-optgroup class="tag-type-group"
                            [style.--group-color]="type.color"
                            [label]="t(type.name ?? '(未命名类型)')">

                @for (tag of type.tags; track tag.id) {
                <mat-option class="tag-option"
                            [value]="tag" [disabled]="form.controls.tags.value.length >= MAX_SELECTED&& !form.controls.tags.value.includes(tag)">
                  <span class="tag-option-text">{{ tag.name }}</span>
                  <span class="opt-count"> × {{ tag.lureCommunityTopicTagMapsCount }}</span>
                </mat-option>
                }
              </mat-optgroup>
            </ng-container>
            }

            }
          </mat-select>
          @if (form.controls.tags.value.length >= 2) {

          <mat-hint>
            {{ form.controls.matchMode.value === 'AND' ? '匹配全部标签' : '匹配任意标签' }}
          </mat-hint>

          }

        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>作者</mat-label>

          <mat-select formControlName="user"
                      [compareWith]="compareById"
                      (closed)="clearUserSearch()">

            <mat-select-trigger>
              <span>
                {{ (form.controls.user.value?.displayText) || (form.controls.user.value?.displayName?.trim()) || form.controls.user.value?.userName }}
              </span>
            </mat-select-trigger>

            <mat-option disabled>
              <ngx-mat-select-search [formControl]="userSearchCtrl"
                                     placeholderLabel="搜索..."
                                     [searching]="userSearching()"
                                     noEntriesFoundLabel="">
              </ngx-mat-select-search>
            </mat-option>
            <mat-option [value]="null">  <mat-icon>filter_alt_off</mat-icon>不限作者</mat-option>
            @if (filteredUsers$ | async; as users) {
            @for (c of users; track c.id) {

            <mat-option [value]="c">
              <div class="user-option">
                <div class="user-avatar-btn avatar-sm is-static">
                  @if (c.avatarUrl) {
                  <img class="user-avatar-img" [src]="c.avatarUrl" alt="用户头像" />
                  } @else {
                  <span class="user-avatar-fallback">{{ c.initials }}</span>
                  }
                </div>

                <span class="user-name">{{ c.displayText }}</span>
              </div>
            </mat-option>

            }

            @if (hasUserSearched() && users.length === 0) {
            <div class="custom-no-item-note">没有匹配的选项</div>
            }


            }
          </mat-select>
        </mat-form-field>

      </div>
      <div class="filter-row filter-row-extra-margin">
        <div class="flex-item">
          <a class="expandable-header-small pointer" (click)="togglePostOptions()">
            <mat-icon>
              {{ postOptionCollapsed() ? 'arrow_drop_down' : 'arrow_right' }}
            </mat-icon>
            <span>按话题的回复量和浏览量过滤</span>
          </a>
        </div>
      </div>
      @if(postOptionCollapsed()){

      <div class="filter-row" >
        <div class="flex-item-group">
          <mat-form-field appearance="outline" floatLabel="always" class="flex-item">
            <mat-label>最小回复量</mat-label>
            <input matInput type="number" min="0" formControlName="minReplies" />
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="flex-item">
            <mat-label>最大回复量</mat-label>
            <input matInput type="number" min="0" formControlName="maxReplies" />
          </mat-form-field>
        </div>

        <div class="flex-item-group">
          <mat-form-field appearance="outline" floatLabel="always" class="flex-item">
            <mat-label>最小浏览量</mat-label>
            <input matInput type="number" min="0" formControlName="minViews" />
          </mat-form-field>

          <mat-form-field appearance="outline" floatLabel="always" class="flex-item">
            <mat-label>最大浏览量</mat-label>
            <input matInput type="number" min="0" formControlName="maxViews" />
          </mat-form-field>
        </div>
      </div>
 
      }
      }

      }
    </form>
  </mat-card-content>
</mat-card>
