 .docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  > .mat-mdc-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .docs-navbar-header-item-selected {
    background: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent);
  }
}

.mat-mdc-icon-button {
  color: inherit;
}

.docs-github-logo,
app-logo {
  margin-right: 8px;
  width: 24px;
  height: 24px;
}

.app-name {
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px; 
}

.docs-flex-spacer {
  flex-grow: 1;
}

.docs-navbar-link {
  text-decoration: inherit;
  flex: 1;
}

.docs-navbar {
  display: none;
}

.docs-navbar-show-small {
  display: none;
}

// Rules for when the device is detected to be a small screen.
// Moves content two rows instead of one.
@media (max-width: 720px) {
  .docs-navbar-hide-small {
    display: none;
  }

  .docs-navbar-show-small {
    display: block;
  }

  .docs-navbar {
    display: flex;
  }

  .docs-github-logo {
    margin: 0;
  }
}
