
.app-footer {
  height: 4em;
  background: var(--mat-sys-primary-container);
}

.app-footer-inner {
  display: flex;
  justify-content: space-between; /* 左中右分布 */
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.app-footer-center {
  text-align: center;
  flex: 1; /* 占满中间空间 */
}

.app-footer-center p {
  margin: 0;
  line-height: 4em;
}
