<form  class="card" [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2>登录</h2>

  <mat-form-field appearance="outline">
    <mat-label>账号</mat-label>
    <input matInput
           required
           formControlName="account"
           autocomplete="username"
           placeholder="输入账号" />
    @if (form.controls.account.touched && form.controls.account.hasError('required'))
    {
      <mat-error>
        账号为必填
      </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>密码</mat-label>
    <input matInput
           required
           [type]="showPassword() ? 'text':'password'"
           formControlName="password"
           autocomplete="current-password"
           placeholder="输入密码" />
    <button mat-icon-button
            matSuffix
            type="button"
            (click)="showPassword.set(!showPassword())"
            [attr.aria-label]="'切换密码可见性'">
      <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
    @if (form.controls.password.touched && form.controls.password.hasError('required'))
    {
    <mat-error>
      密码为必填
    </mat-error>
    }
  </mat-form-field>

  <div class="actions">
    <button type="submit" mat-flat-button  
            [disabled]="form.invalid || form.pending">
      登录
    </button>
  </div>
</form>
